{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Система для авторизации и реферальных приглашений">
    <title>Авторизация</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <style>
        body {
            background-color: #f8f9fa; /* Светлый фон */
        }

        h1 {
            color: #007bff; /* Синий цвет для заголовка */
            font-weight: bold;
            margin-bottom: 20px;
        }

        p.lead {
            color: #6c757d; /* Серый цвет для текста */
            font-size: 1.25rem;
        }

        .highlight {
            color: #dc3545; /* Красный цвет для выделения */
            font-weight: bold;
        }
    </style>
</head>
<body>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>Сервис авторизации и реферальных приглашений</h1>
            </div>
        </div>
    </section>

    {% block content %}
    {% endblock %}
</main>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
