{% extends 'base.html' %}
{% block content %}
{% load rest_framework %}

<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p class="lead">Авторизуйтесь по номеру телефона.</p>
                    <p class="lead">Введите 11 цифр Вашего номера телефона, пример:79063500890</p>
                    {% csrf_token %}
                    {% render_form serializer %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">
                    Получить код
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
